
<%- include("partials/header") -%>
    <div class="btn-group" role="group" aria-label="Basic example">
       <a href="create" ><button class="btn btn-secondary">Create</button></a>
       <a href="read" ><button class="btn btn-secondary">Read</button></a>
       <a href="delete" ><button class="btn btn-secondary">Delete</button></a>
    </div>
</body>
</html>